In [18]:
# Dependencies
import numpy as np
import pandas as pd
from census import Census
from us import states

# Census API Key
c = Census("85ac64b6b5a9c0901b00329d1ef41f0c53ccfc98", year=2015)

In [19]:
# Retrieve Census Data (Reference: https://gist.github.com/afhaque/60558290d6efd892351c4b64e5c01e9b)
zip_census = c.acs5.get(( "B19013_001E",
                          "B19301_001E",
                          "B15003_002E",
                          "B15003_017E",
                          "B15003_018E",
                          "B15003_022E",
                          "B15003_021E",
                          "B15003_023E",
                          "B15003_024E",
                          "B15003_025E",
                          "B17001_002E",
                          "B23025_002E",
                          "B23025_005E",
                          "B01002_001E",
                          "B01002_002E",
                          "B01002_003E",
                          "B01003_001E",
                          "B25064_001E",
                          "B25077_001E",
                          "B25077_001E",
                          "B02001_002E",
                          "B02001_003E",
                          "B02001_004E",
                          "B02001_005E",
                          "B03001_003E"), {'for': 'zip code tabulation area:*'})

# Convert to DataFrame
zip_census = pd.DataFrame(zip_census)

# Column Reordering
zip_census = zip_census.rename(columns={"B19013_001E": "Household Income", 
                                      "B19301_001E": "Income Per Capita",
                                      "B15003_002E": "Education None",
                                      "B15003_017E": "Education High School",
                                      "B15003_018E": "Education GED",
                                      "B15003_022E": "Education Bachelors",
                                      "B15003_021E": "Education Associates",
                                      "B15003_023E": "Education Masters",
                                      "B15003_024E": "Education Professional",
                                      "B15003_025E": "Education Doctorate",
                                      "B17001_002E": "Poverty",
                                      "B23025_002E": "Employment Labor Force",
                                      "B23025_005E": "Employment Unemployed",
                                      "B01002_001E": "Median Age",
                                      "B01002_002E": "Median Male Age",
                                      "B01002_003E": "Median Female Age",
                                      "B01003_001E": "Population",
                                      "B25064_001E": "Median Gross Rent",
                                      "B25077_001E": "Median Home Value",
                                      "B02001_002E": "White Population",
                                      "B02001_003E": "Black Population",
                                      "B02001_004E": "Native American Population",
                                      "B02001_005E": "Asian Population",
                                      "B03001_003E": "Hispanic Population",
                                      "zip code tabulation area": "zipcode"})

# Visualize Data
zip_census.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Education Professional,Education Doctorate,Poverty,Household Income,Income Per Capita,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,zipcode
0,37.6,36.5,39,17982,16956,102,14,0,17942,456,...,59,65,10861,10816,7453,6162,2213,359,104500,00601
1,39.5,38.6,40.3,40260,23144,693,8,72,37681,955,...,206,258,21720,16079,8474,15289,3807,395,90200,00602
2,39.9,37.7,41.4,52408,36177,2057,76,655,50437,1014,...,283,280,25459,16804,10179,17058,3991,384,128400,00603
3,40.8,41,40.3,6331,4399,151,0,0,6323,188,...,17,32,4070,12512,5863,1679,179,280,108500,00606
4,40.2,36.9,42.2,28328,17791,950,0,26,27999,377,...,38,144,14005,17475,8452,9542,1495,424,113200,00610

In [20]:
# Geocode
zip_lat_lng = pd.read_excel("../Raw/Latitude_Longitude_Zip.xlsx", converters={"zipcode": str})
zip_lat_lng.head()

  zipcode        lat        lng       city state
0   00601  18.180555 -66.749961   ADJUNTAS    PR
1   00602  18.361945 -67.175597     AGUADA    PR
2   00603  18.455183 -67.119887  AGUADILLA    PR
3   00606  18.158345 -66.932911    MARICAO    PR
4   00610  18.295366 -67.125135     ANASCO    PR

In [21]:
# Merge Data
zip_census_geocoded = zip_census.merge(zip_lat_lng, on="zipcode", how="left")
zip_census_geocoded.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Income Per Capita,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,zipcode,lat,lng,city,state
0,37.6,36.5,39,17982,16956,102,14,0,17942,456,...,7453,6162,2213,359,104500,00601,18.180555,-66.749961,ADJUNTAS,PR
1,39.5,38.6,40.3,40260,23144,693,8,72,37681,955,...,8474,15289,3807,395,90200,00602,18.361945,-67.175597,AGUADA,PR
2,39.9,37.7,41.4,52408,36177,2057,76,655,50437,1014,...,10179,17058,3991,384,128400,00603,18.455183,-67.119887,AGUADILLA,PR
3,40.8,41,40.3,6331,4399,151,0,0,6323,188,...,5863,1679,179,280,108500,00606,18.158345,-66.932911,MARICAO,PR
4,40.2,36.9,42.2,28328,17791,950,0,26,27999,377,...,8452,9542,1495,424,113200,00610,18.295366,-67.125135,ANASCO,PR

In [24]:
# Filter to a State
zip_data = zip_census_geocoded[zip_census_geocoded["state"] == "WV"]
zip_data.head()

,Median Age,Median Male Age,Median Female Age,Population,White Population,Black Population,Native American Population,Asian Population,Hispanic Population,Education None,...,Income Per Capita,Employment Labor Force,Employment Unemployed,Median Gross Rent,Median Home Value,zipcode,lat,lng,city,state
7633,43.3,42.3,44.3,20891,17585,2852,31,98,116,142,...,19285,8176,437,565,66300,24701,37.305951,-81.204941,BLUEFIELD,WV
7634,23.6,22.7,33.2,2007,1842,113,0,13,32,0,...,18581,781,51,635,124500,24712,37.463059,-81.015010,ATHENS,WV
7635,35.2,36,23.4,127,127,0,0,0,0,8,...,13413,37,11,None,82600,24714,37.484469,-81.190073,BEESON,WV
7636,52.4,60,47.8,366,359,6,0,1,0,2,...,18980,103,2,570,63800,24715,37.340392,-81.324618,BRAMWELL,WV
7637,54.3,55.2,52,460,364,96,0,0,0,0,...,24869,148,10,None,None,24716,37.480042,-81.371826,BUD,WV